:root {
    --color-white: #ffffff;
    --color-light-gray: #f3f4f6;
    --color-gray: #e5e7eb;
    --color-dark-gray: #374151;
    --color-darker-gray: #1f2937;
    --color-medium-gray: #6b7280;
    --color-primary: #0f6cff;
    --color-primary-light: rgba(59, 130, 246, 0.1);
    --box-shadow-light: rgba(0, 0, 0, 0.05);
}

.custom-layout-container .flexlayout__layout {
    position: relative !important;
    height: 98vh !important;
    width: 100% !important;
    left: auto !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    overflow: auto !important;
    border-radius: 8px;
}

.custom-layout-container .flexlayout__tab {
    border-radius: 0 0 8px 8px;
}

.custom-layout-container .flexlayout__tabset {
    border-radius: 8px;
    box-shadow: 0 0 0 1px var(--box-shadow-light), 0 1px 2px 0 var(--box-shadow-light);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-layout-container .flexlayout__tabset_tabbar_outer {
    background-color: var(--color-white);
    border-radius: 8px 8px 0 0;
    padding: 10px 16px;
    box-shadow: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-layout-container .flexlayout__tabset_tabbar_outer_top {
    border-radius: 8px 8px 0 0;
    padding: 0;
}

.custom-layout-container .flexlayout__tabset-selected {
    background-color: var(--color-light-gray);
    border-radius: 8px 8px 0 0;
    color: var(--color-darker-gray);
    z-index: 1;
}

.custom-layout-container .flexlayout__tabset_tabbar_outer:hover {
    background-color: var(--color-light-gray);
    cursor: pointer;
}

.custom-layout-container .flexlayout__tab_button {
    background-color: transparent;
    color: var(--color-medium-gray);
    border: none;
    padding: 6px;
    margin-left: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.custom-layout-container .flexlayout__tab_button:hover {
    background-color: var(--color-gray);
    color: var(--color-dark-gray);
    border-radius: 4px;
}

.custom-layout-container .flexlayout__border_button {
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray);
    border-radius: 4px;
    padding: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-layout-container .flexlayout__border_button:hover {
    background-color: var(--color-gray);
    color: var(--color-darker-gray);
}

.flexlayout__tabset_tabbar_outer_top {
    border-bottom: none;
}

.custom-layout-container .flexlayout__tab_toolbar {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.custom-layout-container .flexlayout__tab:hover .flexlayout__tab_toolbar,
.custom-layout-container .flexlayout__tabset_tabbar_outer:hover .flexlayout__tab_toolbar {
    opacity: 1;
    visibility: visible;
}